:root {
  --color-primary: ;
  --color-primary-light: ;
  --color-primary-dark: ;
  --color-secondary: ;
  --color-secondary-light: ;
  --color-tertiary: ;
  --color-tertiary-light: ;
  --color-grey-dark: #777;
  --color-grey-dark-2: #888;
  --color-grey-dark-3: #333;
  --color-grey-dark: #777;
  --color-grey-dark-2: #888;
  --color-grey-dark-3: #333;
}
