.footer {
  height: 35rem;
  background-image: url(/img/bg-pattern-2.jpg);
  background-repeat: repeat;

  justify-content: space-around;
  align-items: center;

  &__contact {
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 25%;

    & img {
      height: 30%;
    }

    & p {
      color: #888887;
    }
  }

  &__social {
    height: 5rem;
    width: 100%;
    border-top: 1px solid #636361;
    padding: 0 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--copyright {
      & p {
        color: #888887;
      }
    }

    &--icons {
      width: 10rem;
      display: flex;
      justify-content: space-evenly;
    }
  }
}

.icon {
  height: 2rem;
  width: 2rem;
  fill: #888887;

  &:hover {
    transition: fill 0.3s;
    fill: #fff;
  }
}
