.header {
  max-height: 100vh;
  max-width: 100wh;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url("/img/skewed-print.png");
  }
}

#bgvid {
  object-fit: cover;
  width: 99.2vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.navbar {
  height: 6%;
  width: 50%;
  position: absolute;
  top: 2rem;
  left: 25%;
  z-index: 10;
  display: flex;
  justify-content: space-between;

  &__logo {
    width: 20rem;
  }

  &__menu {
    width: 55%;
  }

  &__menu-items {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__menu-items li {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__menu-item {
    height: 100%;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0 2rem;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 3rem;
  }

  &__menu-item:hover {
    transition: background-color 0.5s;
    background-color: rgba(128, 128, 128, 0.26);
  }
}
