.main {
  max-height: 100vh;
  max-width: 100wh;
  background-image: url(/img/bg-pattern.jpg);
  background-repeat: repeat;
  padding-top: 10rem;

  &__menu-container {
    height: 70rem;
    width: 50%;
    background-color: #c4c0b3;
    display: flex;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  &__menu {
    width: 60%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 3% auto;
    gap: 2rem;

    &-item {
      display: flex;
      align-items: center;
      margin: 0 4rem;

      &:first-child {
        height: 10rem;
        width: 85%;
        flex: 1;
        justify-content: center;
        align-items: flex-start;

        & p {
          color: #b39568;
        }
      }

      &:nth-child(2) {
        padding-top: 7rem;
      }

      &:last-child {
        padding-bottom: 2rem;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #b5b1a5;
      }

      &--name {
        padding-right: 5rem;
      }

      &--price {
        width: 15%;
      }
    }
  }

  &__menu-img {
    flex: 1;
    background-image: url(/img/bg-menu.jpg);
    background-repeat: no-repeat;
    background-position: right;
  }

  &__about {
    height: 100vh;
    background-image: url(/img/bg-about.jpg);
    display: flex;
    justify-content: center;

    &-content {
      height: 40rem;
      width: 70rem;

      align-items: center;
      margin-top: 10rem;
      justify-content: space-evenly;

      & h1 {
        line-height: 1;
      }

      & p {
        width: 55rem;
      }
    }
  }
}
